@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 15px;
}

body {
  background-color: #e0cfd3;
  font-family: "Gemunu Libre", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 300px;
  border: 2px solid #366579;
  padding: 50px;
  background: #b3d0d8;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blockSections {
  width: 196px;
  margin: 15px;
  background: #719fb1;
  opacity: 0.8;
}

.title h1 {
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid #222;
}

.infoSections {
  font-size: 20px;
  font-weight: bold;
}

input[type="text"] {
  outline: none;
}

::placeholder {
  color: red;
  padding-left: 5px;
}
